sandbox/org.devzuz.q.project.api/project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:org.devzuz.q.project="http:///org/devzuz/q/project.ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" ecore:nsPrefix="org.devzuz.q.project" ecore:package="org.devzuz.q.project" targetNamespace="http:///org/devzuz/q/project.ecore">
  <xsd:import namespace="http://www.eclipse.org/emf/2002/Ecore" schemaLocation="../../plugin/org.eclipse.emf.ecore/model/Ecore.xsd"/>
  <xsd:element ecore:ignore="true" name="ArtifactClassifier" type="org.devzuz.q.project:ArtifactClassifier"/>
  <xsd:element ecore:ignore="true" name="ArtifactComposition" type="org.devzuz.q.project:ArtifactComposition"/>
  <xsd:element ecore:ignore="true" name="ArtifactManifestPart" type="org.devzuz.q.project:ArtifactManifestPart"/>
  <xsd:element ecore:ignore="true" name="CommunityInfo" type="org.devzuz.q.project:CommunityInfo"/>
  <xsd:element ecore:ignore="true" name="Dependency" type="org.devzuz.q.project:Dependency"/>
  <xsd:element ecore:ignore="true" name="InfrastructuralService" type="org.devzuz.q.project:InfrastructuralService"/>
  <xsd:element ecore:ignore="true" name="InfrastructuralServiceId" type="org.devzuz.q.project:InfrastructuralServiceId"/>
  <xsd:element ecore:ignore="true" name="InfrastructuralServiceInterface" type="org.devzuz.q.project:InfrastructuralServiceInterface"/>
  <xsd:element ecore:ignore="true" name="License" type="org.devzuz.q.project:License"/>
  <xsd:element ecore:ignore="true" name="MessagingSystemId" type="org.devzuz.q.project:MessagingSystemId"/>
  <xsd:element ecore:ignore="true" name="OrganizationInfo" type="org.devzuz.q.project:OrganizationInfo"/>
  <xsd:element ecore:ignore="true" name="Person" type="org.devzuz.q.project:Person"/>
  <xsd:element ecore:ignore="true" name="Project" type="org.devzuz.q.project:Project"/>
  <xsd:element ecore:ignore="true" name="ProjectClassification" type="org.devzuz.q.project:ProjectClassification"/>
  <xsd:element ecore:ignore="true" name="ProjectKey" type="org.devzuz.q.project:ProjectKey"/>
  <xsd:element ecore:ignore="true" name="ToolConfiguration" type="org.devzuz.q.project:ToolConfiguration"/>
  <xsd:element ecore:ignore="true" name="ToolId" type="org.devzuz.q.project:ToolId"/>
  <xsd:element ecore:ignore="true" name="Version" type="org.devzuz.q.project:Version"/>
  <xsd:element ecore:ignore="true" name="URIToArtifactManifestPartMapEntry" type="org.devzuz.q.project:URIToArtifactManifestPartMapEntry"/>
  <xsd:element ecore:ignore="true" name="URIToURLMapEntry" type="org.devzuz.q.project:URIToURLMapEntry"/>
  <xsd:element ecore:ignore="true" name="EStringToInfrastructuralServiceMapEntry" type="org.devzuz.q.project:EStringToInfrastructuralServiceMapEntry"/>
  <xsd:element ecore:ignore="true" name="URIToInfrastructuralServiceInterfaceMapEntry" type="org.devzuz.q.project:URIToInfrastructuralServiceInterfaceMapEntry"/>
  <xsd:element ecore:ignore="true" name="MessagingSystemIdToEStringMapEntry" type="org.devzuz.q.project:MessagingSystemIdToEStringMapEntry"/>
  <xsd:element ecore:ignore="true" name="ToolIdToToolConfigurationMapEntry" type="org.devzuz.q.project:ToolIdToToolConfigurationMapEntry"/>
  <xsd:complexType name="ArtifactClassifier">
    <xsd:attribute name="classifier" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType name="ArtifactComposition">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="artifactManifestPartsByType" type="org.devzuz.q.project:URIToArtifactManifestPartMapEntry"/>
    </xsd:sequence>
    <xsd:attribute name="artifactType" type="org.devzuz.q.project:URI"/>
  </xsd:complexType>
  <xsd:complexType name="ArtifactManifestPart">
    <xsd:attribute name="type" type="org.devzuz.q.project:URI"/>
  </xsd:complexType>
  <xsd:complexType name="CommunityInfo">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="downloadLocations" type="org.devzuz.q.project:URIToURLMapEntry"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="mailingListServices" type="org.devzuz.q.project:EStringToInfrastructuralServiceMapEntry"/>
    </xsd:sequence>
    <xsd:attribute name="projectWebSite" type="org.devzuz.q.project:URL"/>
    <xsd:attribute ecore:reference="org.devzuz.q.project:InfrastructuralService" name="scmService" type="xsd:anyURI"/>
    <xsd:attribute ecore:reference="org.devzuz.q.project:InfrastructuralService" name="issueTrackerService" type="xsd:anyURI"/>
  </xsd:complexType>
  <xsd:complexType name="Dependency">
    <xsd:attribute name="dependencyScheme" type="org.devzuz.q.project:URI"/>
    <xsd:attribute ecore:reference="org.devzuz.q.project:ProjectKey" name="projectKey" type="xsd:anyURI"/>
    <xsd:attribute ecore:reference="org.devzuz.q.project:ArtifactClassifier" name="artifactClassifier" type="xsd:anyURI"/>
  </xsd:complexType>
  <xsd:complexType name="InfrastructuralService">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="submitInterfaces" type="org.devzuz.q.project:URIToInfrastructuralServiceInterfaceMapEntry"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="queryInterfaces" type="org.devzuz.q.project:URIToInfrastructuralServiceInterfaceMapEntry"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="browseInterfaces" type="org.devzuz.q.project:URIToInfrastructuralServiceInterfaceMapEntry"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="maintenanceInterfaces" type="org.devzuz.q.project:URIToInfrastructuralServiceInterfaceMapEntry"/>
    </xsd:sequence>
    <xsd:attribute ecore:reference="org.devzuz.q.project:InfrastructuralServiceId" name="serviceId" type="xsd:anyURI"/>
    <xsd:attribute name="serviceName" type="ecore:EString"/>
    <xsd:attribute name="serviceDescription" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType name="InfrastructuralServiceId">
    <xsd:attribute name="typeURI" type="org.devzuz.q.project:URI"/>
    <xsd:attribute name="typeQualifier" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType name="InfrastructuralServiceInterface">
    <xsd:attribute name="interfaceType" type="org.devzuz.q.project:URI"/>
    <xsd:attribute name="serviceId" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType name="License">
    <xsd:sequence>
      <xsd:element ecore:unique="true" maxOccurs="unbounded" minOccurs="0" name="applicability" nillable="true" type="ecore:EString"/>
    </xsd:sequence>
    <xsd:attribute name="uRL" type="org.devzuz.q.project:URL"/>
    <xsd:attribute name="licenseName" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType name="MessagingSystemId">
    <xsd:attribute name="typeURI" type="org.devzuz.q.project:URI"/>
    <xsd:attribute name="systemQualifier" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType name="OrganizationInfo">
    <xsd:attribute name="webSite" type="org.devzuz.q.project:URL"/>
    <xsd:attribute name="organizationName" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType name="Person">
    <xsd:sequence>
      <xsd:element ecore:unique="true" maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="ecore:EString"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="nicknames" type="org.devzuz.q.project:MessagingSystemIdToEStringMapEntry"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="ecore:EString"/>
    <xsd:attribute name="email" type="ecore:EString"/>
    <xsd:attribute name="timezone" type="org.devzuz.q.project:TimeZone"/>
  </xsd:complexType>
  <xsd:complexType name="Project">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="toolConfigurationByType" type="org.devzuz.q.project:ToolIdToToolConfigurationMapEntry"/>
    </xsd:sequence>
    <xsd:attribute ecore:reference="org.devzuz.q.project:ProjectKey" name="identification" type="xsd:anyURI"/>
    <xsd:attribute ecore:reference="org.devzuz.q.project:ProjectKey" name="parentProject" type="xsd:anyURI"/>
    <xsd:attribute ecore:reference="org.devzuz.q.project:OrganizationInfo" name="organizationInfo" type="xsd:anyURI"/>
    <xsd:attribute ecore:reference="org.devzuz.q.project:CommunityInfo" name="communityInfo" type="xsd:anyURI"/>
    <xsd:attribute ecore:reference="org.devzuz.q.project:License" name="licenses">
      <xsd:simpleType>
        <xsd:list itemType="xsd:anyURI"/>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute ecore:reference="org.devzuz.q.project:ProjectClassification" name="projectClassifications">
      <xsd:simpleType>
        <xsd:list itemType="xsd:anyURI"/>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute ecore:reference="org.devzuz.q.project:ArtifactComposition" name="artifactComposition" type="xsd:anyURI"/>
    <xsd:attribute ecore:reference="org.devzuz.q.project:Dependency" name="dependencies">
      <xsd:simpleType>
        <xsd:list itemType="xsd:anyURI"/>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute ecore:reference="org.devzuz.q.project:Person" name="contributors">
      <xsd:simpleType>
        <xsd:list itemType="xsd:anyURI"/>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute ecore:reference="org.devzuz.q.project:Person" name="developers">
      <xsd:simpleType>
        <xsd:list itemType="xsd:anyURI"/>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="ProjectClassification">
    <xsd:attribute name="classificationSystemId" type="org.devzuz.q.project:URI"/>
  </xsd:complexType>
  <xsd:complexType name="ProjectKey">
    <xsd:attribute name="groupId" type="ecore:EString"/>
    <xsd:attribute name="artifactId" type="ecore:EString"/>
    <xsd:attribute ecore:reference="org.devzuz.q.project:Version" name="versionSpec" type="xsd:anyURI"/>
  </xsd:complexType>
  <xsd:complexType name="ToolConfiguration">
    <xsd:attribute ecore:reference="org.devzuz.q.project:ToolId" name="toolId" type="xsd:anyURI"/>
  </xsd:complexType>
  <xsd:complexType name="ToolId">
    <xsd:attribute name="typeURI" type="org.devzuz.q.project:URI"/>
    <xsd:attribute name="typeQualifier" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType name="Version">
    <xsd:attribute name="versionScheme" type="org.devzuz.q.project:URI"/>
    <xsd:attribute name="value" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:simpleType ecore:instanceClass="java.net.URI" name="URI">
    <xsd:restriction/>
  </xsd:simpleType>
  <xsd:complexType ecore:instanceClass="java.util.Map$Entry" name="URIToArtifactManifestPartMapEntry">
    <xsd:attribute name="key" type="org.devzuz.q.project:URI"/>
    <xsd:attribute ecore:reference="org.devzuz.q.project:ArtifactManifestPart" name="value" type="xsd:anyURI"/>
  </xsd:complexType>
  <xsd:simpleType ecore:instanceClass="java.net.URL" name="URL">
    <xsd:restriction/>
  </xsd:simpleType>
  <xsd:complexType ecore:instanceClass="java.util.Map$Entry" name="URIToURLMapEntry">
    <xsd:attribute name="key" type="org.devzuz.q.project:URI"/>
    <xsd:attribute name="value" type="org.devzuz.q.project:URL"/>
  </xsd:complexType>
  <xsd:complexType ecore:instanceClass="java.util.Map$Entry" name="EStringToInfrastructuralServiceMapEntry">
    <xsd:attribute name="key" type="ecore:EString"/>
    <xsd:attribute ecore:reference="org.devzuz.q.project:InfrastructuralService" name="value" type="xsd:anyURI"/>
  </xsd:complexType>
  <xsd:complexType ecore:instanceClass="java.util.Map$Entry" name="URIToInfrastructuralServiceInterfaceMapEntry">
    <xsd:attribute name="key" type="org.devzuz.q.project:URI"/>
    <xsd:attribute ecore:reference="org.devzuz.q.project:InfrastructuralServiceInterface" name="value" type="xsd:anyURI"/>
  </xsd:complexType>
  <xsd:simpleType ecore:instanceClass="java.util.TimeZone" name="TimeZone">
    <xsd:restriction/>
  </xsd:simpleType>
  <xsd:complexType ecore:instanceClass="java.util.Map$Entry" name="MessagingSystemIdToEStringMapEntry">
    <xsd:attribute ecore:reference="org.devzuz.q.project:MessagingSystemId" name="key" type="xsd:anyURI"/>
    <xsd:attribute name="value" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType ecore:instanceClass="java.util.Map$Entry" name="ToolIdToToolConfigurationMapEntry">
    <xsd:attribute ecore:reference="org.devzuz.q.project:ToolId" name="key" type="xsd:anyURI"/>
    <xsd:attribute ecore:reference="org.devzuz.q.project:ToolConfiguration" name="value" type="xsd:anyURI"/>
  </xsd:complexType>
</xsd:schema>
